In [9]:
import os
import pandas as pd
import numpy as np

df_laptop= pd.read_csv('.\\Cleaned_Laptop_data.csv')

In [21]:
print(df_laptop.columns.values,'\n\n')
df_laptop.info()

['brand' 'model' 'processor_brand' 'processor_name' 'processor_gnrtn'
 'ram_gb' 'ram_type' 'ssd' 'hdd' 'os' 'os_bit' 'graphic_card_gb' 'weight'
 'display_size' 'warranty' 'Touchscreen' 'msoffice' 'latest_price'
 'old_price' 'discount' 'star_rating' 'ratings' 'reviews']


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            896 non-null    object
 1   model            896 non-null    object
 2   processor_brand  896 non-null    object
 3   processor_name   896 non-null    object
 4   processor_gnrtn  896 non-null    object
 5   ram_gb           896 non-null    object
 6   ram_type         896 non-null    object
 7   ssd              896 non-null    object
 8   hdd              896 non-null    object
 9   os               896 non-null    object
 10  os_bit           896 non-null    object
 11  graphic_card_gb  896 non-null    int64
 12  weight           896 non-null    object
 13  display_size     896 non-null    object
 14  warranty         896 non-null    int64
 15  Touchscreen      896 non-null    object
 16  msoffice         896 non-null    object
 17  latest_price     896 non-null    int64
 18  old_price        896 non-null    int64
 19  discount         896 non-null    int64
 20  star_rating      896 non-null    float64
 21  ratings          896 non-null    int64
 22  reviews          896 non-null    int64
dtypes: float64(1), int64(7), object(15)
memory usage: 161.1+ KB

In [14]:
df_laptop.head()

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,Lenovo,A6-9225,AMD,A6-9225 Processor,10th,4 GB GB,DDR4,0 GB,1024 GB,Windows,...,Missing,0,No,No,24990,32790,23,3.7,63,12
1,Lenovo,Ideapad,AMD,APU Dual,10th,4 GB GB,DDR4,0 GB,512 GB,Windows,...,Missing,0,No,No,19590,21325,8,3.6,1894,256
2,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,128 GB,0 GB,Windows,...,Missing,0,No,No,19990,27990,28,3.7,1153,159
3,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,128 GB,0 GB,Windows,...,Missing,0,No,No,21490,27990,23,3.7,1153,159
4,Avita,PURA,AMD,APU Dual,10th,4 GB GB,DDR4,256 GB,0 GB,Windows,...,Missing,0,No,No,24990,33490,25,3.7,1657,234

In [15]:
df_laptop.describe()

,graphic_card_gb,warranty,latest_price,old_price,discount,star_rating,ratings,reviews
count,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000,896.000000
mean,1.198661,0.691964,76309.860491,88134.154018,18.527902,2.980469,367.391741,46.152902
std,2.057454,0.606282,46613.354368,55719.645554,10.508486,1.965254,1106.309355,136.079586
min,0.000000,0.000000,13990.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,45490.000000,54940.500000,11.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,63494.000000,78052.500000,19.000000,4.100000,19.000000,3.000000
75%,2.000000,1.000000,89090.000000,111019.500000,26.000000,4.400000,179.500000,23.250000
max,8.000000,3.000000,441990.000000,377798.000000,57.000000,5.000000,15279.000000,1947.000000